/* Defaults */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: visible;
}
body {
  background: #DBDDE0;
  overflow: auto;
}
a, .pointer {
  cursor: pointer;
}
a {
  text-decoration: none;
}
textarea {
  resize: vertical;
}
@media (min-width: 1px) and (max-width: 768px) {
  [data-id="convertapp"],
  [data-id="convertsite"] {
    width: calc(100% - 5%);
    margin: auto;} }

/* Alignment */
.center {
  text-align: center;
}
.wholedialog, .pagefill, .fixedfill {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* .wholedialog, .pagefill { */
.pagefill {
  position: absolute;
}
.fixedfill {
  position: fixed;
}
.wholedialog {
  z-index: 1;
  background: #fff;
  background: rgba(255, 255, 255, 0.7);
}

/* Center content horizontally and vertically */
.table {
  display: table;
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: hidden;
}
.cell {
  display: table-cell;
  vertical-align: middle;
}
/* Adjust export chooser for mobile devices */
@media all and (min-width:768px) {
  .table {
    padding-top: 0;
  }
  .cell {
    display: table-cell;
    height: auto;
    margin-top: auto;
  }
}
@media all and (max-width:768px) {
  .grid.table {
    padding-top: calc(100vh / 2 - 96px);
  }
  .grid .cell {
    display: block;
    height: 25vh;
  }
}

/* Misc */
.hide, .disabled {
  display: none;
}
.maindesc {
  font-size: 20px;
}
.dinitial {
  display: initial;
}
.btnexport {
  font-size: 34px;
}
.export4text {
  font-size: 20px;
}
.iblock {
  display: inline-block;
}
.noscroll {
  overflow: hidden;
}
.whitebg {
  background: #fff;
}
.whitebg h4 {
  color: #999;
}
.chrome-border, .phonegap-dialog {
  border-radius: 4em;
  padding: 2em;
}
.chrome-border div form div input,
.phonegap-dialog div form div input {
  width: auto;
}
@media all and (min-width:768px) {
  .table {
    padding-top: 0;
  }
  .cell {
    display: table-cell;
    height: auto;
    margin-top: auto;
  }
}
@media all and (max-width:768px) {
  .chrome-border div form div input[type=button],
  .phonegap-dialog div form div input[type=button],
  .chrome-border div form div input[type=reset],
  .phonegap-dialog div form div input[type=reset] {
    width: 100%;
  }
}
.chrome-border div form div label,
.phonegap-dialog div form div label {
  position: relative;
  top: -19px;
}
.preloader {
  background: #ebfff1;
}
.bold {
  font-weight: bold;
}
.sitelogo {
  background-image: url("../imgs/sitelogo.svg");
  background-repeat: no-repeat;
  width: 233px;
  height: 48px;
  display: inline-block;
}

/* Toggle Switch */
.onoffswitch {
  position: relative;
  width: 90px;
  user-select: none;
}
.offline-mode {
  display: none;
}
.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #999;
  border-radius: 20px;
}
.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before,
.onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 30px;
  padding: 0;
  line-height: 30px;
  font-size: 14px;
  color: #fff;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}
.onoffswitch-inner:before {
  content: " ";
  padding-left: 10px;
  background-color: #34A7C1;
  color: #fff;
}
.onoffswitch-inner:after {
  content: " ";
  padding-right: 10px;
  background-color: #eee;
  color: #999;
  text-align: right;
}
.onoffswitch-switch {
  display: block;
  width: 18px;
  margin: 6px;
  background: #fff;
  border: 2px solid #999;
  border-radius: 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 56px;
  transition: all 0.3s ease-in 0s;
}
.offline-mode:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.offline-mode:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0;
}

/* Label Styles */
.chromeappexport label {
  position: relative;
  top: -20px;
}

/* Preloader */
.loading {
  height: 50%;
}

/* Footer */
.foot {
  padding: 12px;
  margin: 46px 0 0 0;
  background: #000;
  color: #888;
  text-align: right;
  height: 104px;
}
.footlinks a {
  display: inline-block;
  color: #adadad;
}
.foot a:hover {
  color: #fff;
}
.footlinks a {
  padding: 0 0 0 10px;
  font-size: 12px;
}
.author {
  width: 208px;
}
.author a {
  padding: 0;
}
.author, .author a {
  font-size: 12px;
  padding-top: 7px;
}
.foot .logo {
  position: relative;
  top: 12px;
  padding: 16px;
  background-image: url("../imgs/icon.svg");
  background-repeat: no-repeat;
  background-size: auto 100%;
  color: #adadad;
}
.foot .logotxt {
  padding: 0 0 0 50px;
}
@media all and (max-width:390px) {
  .foot .logotxt {
    padding: 0;
    font-size: 8px;
    opacity: 0;
  }
}

/* Misc */
.fl {
  float: left;
}
.fn {
  float: none;
}
.fr {
  float: right;
}
.tl {
  text-align: left;
}
.tr {
  text-align: right;
}
.pointa {
  cursor: pointer;
}
.tc {
  text-align: center;
}
.hide {
  display: none;
}
.wfill {
  width: 100%;
}