/* Defaults */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: visible;
}
body {
  background: #DBDDE0;
  overflow: auto;
}
a, .pointer {
  cursor: pointer;
}
a {
  text-decoration: none;
}

/* Alignment */
.center {
  text-align: center;
}
.wholedialog, .pagefill, .fixedfill {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* .wholedialog, .pagefill { */
.pagefill {
  position: absolute;
}
.fixedfill {
  position: fixed;
}
.wholedialog {
  z-index: 1;
  background: #fff;
  background: rgba(255, 255, 255, 0.7);
}

/* Center content horizontally and vertically */
.table {
  display: table;
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: hidden;
}
.cell {
  display: table-cell;
  vertical-align: middle;
}

/* Misc */
.hide, .disabled {
  display: none;
}
.maindesc {
  font-size: 20px;
}
.dinitial {
  display: initial;
}
.btnexport {
  font-size: 34px;
}
.export4text {
  font-size: 20px;
}
.iblock {
  display: inline-block;
}
.noscroll {
  overflow: hidden;
}
.whitebg {
  background: #fff;
}
.whitebg h4 {
  color: #999;
}
.chrome-border {
  border-radius: 4em;
  padding: 2em;
}
.preloader {
  background: #69EC93;
  background: rgba(122, 255, 164, 0.68);
}
.bold {
  font-weight: bold;
}
.sitelogo {
  background-image: url("../imgs/sitelogo.svg");
  background-repeat: no-repeat;
  width: 233px;
  height: 48px;
  display: inline-block;
}

/* Toggle Switch */
.onoffswitch {
  position: relative;
  width: 90px;
  user-select: none;
}
.offline-mode {
  display: none;
}
.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #999;
  border-radius: 20px;
}
.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before,
.onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 30px;
  padding: 0;
  line-height: 30px;
  font-size: 14px;
  color: #fff;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}
.onoffswitch-inner:before {
  content: "Yes";
  padding-left: 10px;
  background-color: #34A7C1;
  color: #fff;
}
.onoffswitch-inner:after {
  content: "No";
  padding-right: 10px;
  background-color: #eee;
  color: #999;
  text-align: right;
}
.onoffswitch-switch {
  display: block;
  width: 18px;
  margin: 6px;
  background: #fff;
  border: 2px solid #999;
  border-radius: 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 56px;
  transition: all 0.3s ease-in 0s;
}
.offline-mode:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.offline-mode:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0;
}

/* Label Styles */
.chromeappexport label {
  position: relative;
  top: -20px;
}

/* Preloader */
.spinner {
  margin: 30px auto 0;
  width: 70px;
  text-align: center;
}
.spinner > div {
  width: 18px;
  height: 18px;
  background: #4EA269;
  border-radius: 100%;
  display: inline-block;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}
.spinner .bounce1 {
  animation-delay: -0.32s;
}
.spinner .bounce2 {
  animation-delay: -0.16s;
}
@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}

/* Footer */
.foot {
  padding: 12px;
  margin: 46px 0 0 0;
  background: #000;
  color: #888;
  text-align: right;
  height: 104px;
}
.footlinks a {
  display: inline-block;
  color: #adadad;
}
.foot a:hover {
  color: #fff;
}
.footlinks a {
  padding: 0 0 0 10px;
  font-size: 12px;
}
.author a {
  padding: 0;
  font-size: 12px;
}
.author, .author a {
  font-size: 11px;
  padding-top: 7px;
}
.foot .logo {
  position: relative;
  top: 12px;
  padding: 16px;
  background-image: url("../imgs/icon.svg");
  background-repeat: no-repeat;
  background-size: auto 100%;
  color: #adadad;
  z-index: 1;
}
.foot .logotxt {
  padding: 0 0 0 50px;
}
@media all and (max-width:390px) {
  .foot .logotxt {
    padding: 0;
    font-size: 8px;
    opacity: 0;
  }
}

/* Walkthrough Menubar */
.walkthrough-dialogbg,
.walkthrough-dialog {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
  transition: all ease-in 300ms;
  z-index: 100;
  overflow: hidden;
  height: auto;
}
.walkthrough-dialogbg {
  bottom: 0;
  background: rgba(0, 0, 0, 0.57);
}
.walkthrough-dialog {
  margin: 3em;
}
.walkthrough-menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  box-shadow: 0 0 8px #000;
}
.walkthrough-menu label {
  cursor: pointer;
  text-decoration: none;
  margin: 0;
  padding: 14px 10px;
  color: #39464E;
  font-size: 14px;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  float: left;
}
.walkthrough-close {
  position: absolute;
  top: -10px;
  right: 0;
  padding: 0;
  margin: 0;
  /* transform: scale(2); */
  font-size: 2em!important;
}

/* Walkthrough Content */
.walkthrough-content {
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: all ease-in 300ms;
}
#walkthrough {
  margin-top: 49px;
}
#feed {
  background: #F3F5F6;
}

#tab1:checked ~ #walkthrough {
  opacity: 1;
  height: auto;
}
#tab1:checked ~ .walkthrough-dialog {
  opacity: 1;
}
#tab1:checked ~ .walkthrough-menu label[for=tab1] {
  border-bottom: 3px solid #1faeff;
}
#tab2:checked ~ #exportation {
  opacity: 1;
  height: auto;
}
#tab2:checked ~ .walkthrough-menu label[for=tab2] {
  border-bottom: 3px solid #1faeff;
}
#tab3:checked ~ #feed {
  opacity: 1;
  height: calc(100vh - 149px);
  overflow: auto;
}
#tab3:checked ~ .walkthrough-menu label[for=tab3] {
  border-bottom: 3px solid #1faeff;
}
#close-walkthrough:checked ~ .walkthrough-dialogbg,
#close-walkthrough:checked ~ .walkthrough-dialog {
  opacity: 0;
  height: 0;
}
#close-walkthrough:checked ~ .walkthrough-menu {
  top: -48px;
}

/* Misc */
.fl {
  float: left;
}
.fn {
  float: none;
}
.fr {
  float: right;
}
.tl {
  text-align: left;
}
.tr {
  text-align: right;
}
.pointa {
  cursor: pointer;
}
.tc {
  text-align: center;
}
.hide {
  display: none;
}
.wfill {
  width: 100%;
}