<?xml version="1.0" encoding="utf-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets"
  xmlns:gap   = "http://phonegap.com/ns/1.0"
  id          = "com.michael.webdgap"
  version     = "0.0.8"
  versionCode = "10">
  <name>WebDGap</name>
  <description>
    Easily convert any website or web application as a native Windows/Linux/Mac/Chrome Application, Chrome Extention and even release PhoneGap builds for Mobile devices too.
  </description>
  <author email="mikethedj4@yahoo.com" href="http://mikethedj4.github.io/">
    Michael Schwartz; made available for mobile by Tom Gibson
  </author>

  <content src="index.html" />

  <icon src="icon.png" gap:role="default" />
  <icon gap:platform="android" gap:qualifier="ldpi" src="res/icon/android/icon-36-ldpi.png" />
  <icon gap:platform="android" gap:qualifier="mdpi" src="res/icon/android/icon-48-mdpi.png" />
  <icon gap:platform="android" gap:qualifier="hdpi" src="res/icon/android/icon-72-hdpi.png" />
  <icon gap:platform="android" gap:qualifier="xhdpi" src="res/icon/android/icon-96-xhdpi.png" />
  <icon gap:platform="android" src="res/icon/android/icon-96-xhdpi.png" />
  <icon gap:platform="ios" height="57" src="res/icon/ios/icon-57.png" width="57" />
  <icon gap:platform="ios" height="72" src="res/icon/ios/icon-72.png" width="72" />
  <icon gap:platform="ios" height="114" src="res/icon/ios/icon-57-2x.png" width="114" />
  <icon gap:platform="ios" height="144" src="res/icon/ios/icon-72-2x.png" width="144" />
  <icon gap:platform="wp8" src="www/res/icon/wp8/ApplicationIcon.png" />
  <icon gap:platform="wp8" src="www/res/icon/wp8/Background.png" />

  <icon gap:platform="windows" src="www/res/icon/windows/Square150x150Logo.scale-100.png" />
  <icon gap:platform="windows" src="www/res/icon/windows/Square30x30Logo.scale-100.png" />
  <icon gap:platform="windows" src="www/res/icon/windows/StoreLogo.scale-100.png" />
  <icon gap:platform="windows" src="www/res/icon/windows/StoreLogo.scale-240.png" />
  <icon gap:platform="windows" src="www/res/icon/windows/Square44x44Logo.scale-100.png" />
  <icon gap:platform="windows" src="www/res/icon/windows/Square44x44Logo.scale-240.png" />
  <icon gap:platform="windows" src="www/res/icon/windows/Square70x70Logo.scale-100.png" />
  <icon gap:platform="windows" src="www/res/icon/windows/Square71x71Logo.scale-100.png" />
  <icon gap:platform="windows" src="www/res/icon/windows/Square71x71Logo.scale-240.png" />
  <icon gap:platform="windows" src="www/res/icon/windows/Square150x150Logo.scale-240.png" />
  <icon gap:platform="windows" src="www/res/icon/windows/Square310x310Logo.scale-100.png" />
  <icon gap:platform="windows" src="www/res/icon/windows/Wide310x150Logo.scale-100.png" />
  <icon gap:platform="windows" src="www/res/icon/windows/Wide310x150Logo.scale-240.png" />

  <preference name="permissions" value="none"/>
  <preference name="orientation" value="default"/>
  <preference name="target-device" value="universal"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="prerendered-icon" value="true"/>
  <preference name="stay-in-webview" value="false"/>
  <preference name="ios-statusbarstyle" value="black-opaque"/>

  <gap:plugin name="cordova-plugin-inappbrowser" source="npm"/>
  <gap:plugin name="cordova-plugin-network-information" source="npm"/>
  <gap:plugin name="cordova-plugin-file" source="npm"/>
<!--  <gap:plugin name="cordova-plugin-file-transfer" source="npm"/>-->
  <gap:plugin name="cordova-plugin-x-socialsharing" source="npm" />

  <access origin="*"/>
  <gap:plugin name="cordova-plugin-whitelist" source="npm"/>

  <preference name="phonegap-version" value="cli-6.5.0" />
  <preference name="android-minSdkVersion" value="11" />
  <preference name="android-targetSdkVersion" value="19" />

  <preference name="AndroidPersistentFileLocation" value="Compatibility" />

  <allow-intent href="http://*/*"/>
  <allow-intent href="https://*/*"/>
  <platform name="android">
    <allow-intent href="market:*" />
  </platform>
  <platform name="ios">
    <allow-intent href="itms:*" />
    <allow-intent href="itms-apps:*" />
  </platform>
</widget>
