@import url(https://fonts.googleapis.com/css?family=Arvo:400,400i,700,700i);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);



body,
input,
textarea,
.mbr-section-text,
.mbr-company .list-group-text,
.panel-body {
  font-family: 'Open Sans', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Open Sans', sans-serif;
}
.alert,
.mbr-section-title,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Arvo', serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Arvo', serif;
}
.btn {
  border-radius: 2.6em;
}
.mbr-gallery-filter ul li {
  border-radius: 2.6em;
}
.btn-sm,
.mbr-section-subtitle,
.mbr-cards .card-subtitle,
.nav-tabs .nav-link,
.mbr-testimonial .card-block,
.table th {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
}
.mbr-author-name {
  font-family: 'Arvo', serif;
}
.mbr-author-desc {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
}
.mbr-plan-title {
  font-family: 'Arvo', serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
}
.bg-primary {
  background-color: #f39c12 !important;
}
.bg-success {
  background-color: #2ecc71 !important;
}
.bg-info {
  background-color: #3498db !important;
}
.bg-warning {
  background-color: #f1c40f !important;
}
.bg-danger {
  background-color: #e74c3c !important;
}
.btn-primary {
  background-color: #f39c12;
  border-color: #f39c12;
  color: #000000;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #f5b043;
  border-color: #f5b043;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #f5b043 !important;
  border-color: #f5b043 !important;
}
.btn-secondary {
  background-color: #9b59b6;
  border-color: #9b59b6;
  color: #000000;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #b07cc6;
  border-color: #b07cc6;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #b07cc6 !important;
  border-color: #b07cc6 !important;
}
.btn-info {
  background-color: #3498db;
  border-color: #3498db;
  color: #000000;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #5faee3;
  border-color: #5faee3;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #5faee3 !important;
  border-color: #5faee3 !important;
}
.btn-success {
  background-color: #2ecc71;
  border-color: #2ecc71;
  color: #000000;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #54d98c;
  border-color: #54d98c;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #54d98c !important;
  border-color: #54d98c !important;
}
.btn-warning {
  background-color: #f1c40f;
  border-color: #f1c40f;
  color: #000000;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #f4d03f;
  border-color: #f4d03f;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #f4d03f !important;
  border-color: #f4d03f !important;
}
.btn-danger {
  background-color: #e74c3c;
  border-color: #e74c3c;
  color: #000000;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #ed7669;
  border-color: #ed7669;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ed7669 !important;
  border-color: #ed7669 !important;
}
.btn-primary-outline {
  background: none;
  border-color: #ef970c;
  color: #ef970c;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #fff;
  background-color: #f39c12;
  border-color: #f39c12;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #000000 !important;
  background-color: #f39c12 !important;
  border-color: #f39c12 !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #9752b3;
  color: #9752b3;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #fff;
  background-color: #9b59b6;
  border-color: #9b59b6;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #000000 !important;
  background-color: #9b59b6 !important;
  border-color: #9b59b6 !important;
}
.btn-info-outline {
  background: none;
  border-color: #2b94d9;
  color: #2b94d9;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #fff;
  background-color: #3498db;
  border-color: #3498db;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #000000 !important;
  background-color: #3498db !important;
  border-color: #3498db !important;
}
.btn-success-outline {
  background: none;
  border-color: #2cc46c;
  color: #2cc46c;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #fff;
  background-color: #2ecc71;
  border-color: #2ecc71;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #000000 !important;
  background-color: #2ecc71 !important;
  border-color: #2ecc71 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #e8bd0e;
  color: #e8bd0e;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #fff;
  background-color: #f1c40f;
  border-color: #f1c40f;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #000000 !important;
  background-color: #f1c40f !important;
  border-color: #f1c40f !important;
}
.btn-danger-outline {
  background: none;
  border-color: #e64433;
  color: #e64433;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #fff;
  background-color: #e74c3c;
  border-color: #e74c3c;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #000000 !important;
  background-color: #e74c3c !important;
  border-color: #e74c3c !important;
}
.btn-primary.btn-text {
  color: #f39c12;
  background: none;
  border: none;
}
.btn-primary.btn-text:hover,
.btn-primary.btn-text:focus,
.btn-primary.btn-text.focus,
.btn-primary.btn-text:active,
.btn-primary.btn-text.active {
  color: #f5b043;
  background: none !important;
  border: none !important;
}
.btn-secondary.btn-text {
  color: #9b59b6;
  background: none;
  border: none;
}
.btn-secondary.btn-text:hover,
.btn-secondary.btn-text:focus,
.btn-secondary.btn-text.focus,
.btn-secondary.btn-text:active,
.btn-secondary.btn-text.active {
  color: #b07cc6;
  background: none !important;
  border: none !important;
}
.btn-info.btn-text {
  color: #3498db;
  background: none;
  border: none;
}
.btn-info.btn-text:hover,
.btn-info.btn-text:focus,
.btn-info.btn-text.focus,
.btn-info.btn-text:active,
.btn-info.btn-text.active {
  color: #5faee3;
  background: none !important;
  border: none !important;
}
.btn-success.btn-text {
  color: #2ecc71;
  background: none;
  border: none;
}
.btn-success.btn-text:hover,
.btn-success.btn-text:focus,
.btn-success.btn-text.focus,
.btn-success.btn-text:active,
.btn-success.btn-text.active {
  color: #54d98c;
  background: none !important;
  border: none !important;
}
.btn-warning.btn-text {
  color: #f1c40f;
  background: none;
  border: none;
}
.btn-warning.btn-text:hover,
.btn-warning.btn-text:focus,
.btn-warning.btn-text.focus,
.btn-warning.btn-text:active,
.btn-warning.btn-text.active {
  color: #f4d03f;
  background: none !important;
  border: none !important;
}
.btn-danger.btn-text {
  color: #e74c3c;
  background: none;
  border: none;
}
.btn-danger.btn-text:hover,
.btn-danger.btn-text:focus,
.btn-danger.btn-text.focus,
.btn-danger.btn-text:active,
.btn-danger.btn-text.active {
  color: #ed7669;
  background: none !important;
  border: none !important;
}
.btn-black.btn-text {
  color: #000000;
  background: none;
  border: none;
}
.btn-black.btn-text:hover,
.btn-black.btn-text:focus,
.btn-black.btn-text.focus,
.btn-black.btn-text:active,
.btn-black.btn-text.active {
  color: #1a1a1a;
  background: none !important;
  border: none !important;
}
.btn-white.btn-text {
  color: #ffffff;
  background: none;
  border: none;
}
.btn-white.btn-text:hover,
.btn-white.btn-text:focus,
.btn-white.btn-text.focus,
.btn-white.btn-text:active,
.btn-white.btn-text.active {
  color: #ffffff;
  background: none !important;
  border: none !important;
}
.text-primary {
  color: #f39c12 !important;
}
.text-success {
  color: #2ecc71 !important;
}
.text-info {
  color: #3498db !important;
}
.text-warning {
  color: #f1c40f !important;
}
.text-danger {
  color: #e74c3c !important;
}
.alert-success {
  background-color: #2ecc71;
}
.alert-info {
  background-color: #3498db;
}
.alert-warning {
  background-color: #f1c40f;
}
.alert-danger {
  background-color: #e74c3c;
}
.btn-social {
  border-color: #f39c12;
}
.btn-social:hover {
  background: #f39c12;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #f39c12;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #f39c12;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #f39c12;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #f39c12;
}
.lead a {
  color: #f39c12;
}
.lead a:hover {
  color: #f5b043;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #fdedd4;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #d1f5e0;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #e1f0fa;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #fcf3d0;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #fdf3f2;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #f39c12;
}
.scrollToTop_wraper {
  opacity: 0 !important;
}
/*colorM*/
/*nav-tabs*/
.header5 .nav-tabs .nav-link:after {
  background: #f39c12;
}
.header9 .nav-tabs .nav-link.active:after {
  background: #f39c12;
  color: #222;
}
/*end-nav-tabs*/
/*mbr-arrow next and toTop*/
.mbr-arrow a {
  border-radius: 50% !important;
}
.mbr-arrow-up a {
  border-radius: 50% !important;
}
.mbr-arrow a,
.mbr-arrow-up a {
  background: rgba(243, 156, 18, 0.6);
  color: #000;
}
.mbr-arrow a:hover,
.mbr-arrow-up a:hover {
  background: #f4a62a;
}
/*end mbr-arrow next and toTop*/
/*features8*/
.card .card-number {
  background: #f39c12;
}
/*features14*/
.features13 .card .card-number,
.features14 .card .card-number {
  background: transparent;
}
/*features15*/
.features15 .card-block:before {
  border-color: rgba(243, 156, 18, 0.5);
}
/*features16*/
.features16 .mbr-section-subtitle:before {
  background: #f39c12;
}
/*slider elements*/
.mbr-slider .carousel-control:hover {
  background: #f39c12;
}
.mbr-slider .carousel-indicators .active {
  background: #f39c12;
}
/*gallery*/
.mbr-gallery .modal .close {
  border-color: #f39c12;
}
.mbr-gallery .modal .close:hover {
  background: #f39c12;
}
.mbr-gallery-filter li.active {
  border-color: #f39c12;
  color: #000;
}
.mbr-gallery-filter li:hover {
  background: #f5b043;
  color: #000;
}
.mbr-gallery .mbr-gallery-item:hover > div::before {
  background: rgba(243, 156, 18, 0.5);
}
.mbr-gallery .mbr-gallery-item:hover {
  background: #f39c12;
}
/*end gallery*/
/*blockquote*/
blockquote {
  border-left: 3px solid #f39c12;
}
/*content4*/
.content4 p {
  border-top-color: #f39c12;
  border-bottom-color: #f39c12;
}
/*image2, video2*/
.image1 .mbr-figure-caption,
.video1 .mbr-figure-caption,
.image2 .mbr-figure-caption,
.video2 .mbr-figure-caption {
  background-color: #f39c12;
}
/* progress bar */
.progressbar .progress-primary[value]::-webkit-progress-value {
  background-color: #f39c12;
}
.progressbar .progress-primary[value]::-moz-progress-bar {
  background-color: #f39c12;
}
.progressbar .progress-primary[value]::-ms-fill {
  background-color: #f39c12;
}
@media screen and (min-width: 0\0) {
  .progressbar .progress-primary .progress-bar {
    background-color: #f39c12;
  }
}
.progressbar .progressbar-number {
  background: #f5b043;
}
/*countdown*/
.countdown .period {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
}
.countdown .number {
  font-family: 'Arvo', serif;
}
.countdown1 .number-wrap {
  border-color: #f39c12;
}
.countdown2 .bottom1 {
  background: #f5b043;
}
.countdown2 .bottom2 {
  background: #c87f0a;
}
/*accordion*/
.accordion .panel-heading {
  background: #f5b043;
  border-bottom: 1px solid #c87f0a;
}
.accordion .panel-heading:hover {
  background: #c87f0a;
}
.accordion .accordion-group .panel:last-child:after {
  background: #c87f0a;
}
/* news */
.news__card:hover {
  background: #f39c12;
}
/*footer*/
.footer1 .footer-list a:hover {
  color: #f39c12;
}
.shop1 .shop-item-price {
  font-family: 'Montserrat', sans-serif;
}
.shop1 .mbr-gallery-item:hover .item_overlay {
  background: #f39c12;
  opacity: 0.2;
}
.team1 .title1,
.person-info .title1,
.team1 .title2,
.person-info .title2,
.team1 .title3,
.person-info .title3,
.team1 .title4,
.person-info .title4 {
  font-family: 'Arvo', serif;
}
.team1 .subtitle1,
.person-info .subtitle1,
.team1 .subtitle2,
.person-info .subtitle2,
.team1 .subtitle3,
.person-info .subtitle3,
.team1 .subtitle4,
.person-info .subtitle4 {
  font-family: 'Montserrat', sans-serif;
}
.team1 .text1,
.person-info .text1,
.team1 .text2,
.person-info .text2,
.team1 .text3,
.person-info .text3,
.team1 .text4,
.person-info .text4 {
  font-family: 'Open Sans', sans-serif;
}
.person-info .subtitle1,
.person-info .subtitle2,
.person-info .subtitle3,
.person-info .subtitle4 {
  color: #f39c12;
}
.animated-bg1 .text {
  font-family: 'Open Sans', sans-serif;
}
.features9 .timeline-panel h4 {
  font-family: 'Arvo', serif;
}
.features9 .timeline-panel p {
  font-family: 'Open Sans', sans-serif;
}
.features9 .date-normal p {
  font-family: 'Montserrat', sans-serif;
}
.features9 .date-inverted p {
  font-family: 'Montserrat', sans-serif;
}
/*end colorM*/
#header3-0 .display-1 {
  font-weight: 700;
}
#header3-0 .lead {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 0;
}
